<div class="clearfix" id="servico-google">
	<form id="googleGrupo-${indice}" class="ggrupo formServico ${novaTab} form-dark form-horizontal clearfix">
		<div>
			<div class="inputServico">
				<span class="input-obg"></span>
				<input type="text" id="emailGrupo" name="emailGrupo" value="${emailGrupo}" class="campoObrigatorio" autocomplete="off"/><span id="dominioEmail">@dextra-sw.com</span>
				<input type="hidden" name="idServico" value="${id_servico}" />
				<input type="hidden" name="emailGrupoEdicao" value="${emailGrupo}" />
			</div>
		</div>
	</form>
</div>
<script>
	$( "input[name='emailGrupo']:last").keyup(function(){
		var email = $(this).val() + "@dextra-sw.com";
		var aux = 0;

		//Verifica se o email foi digitado nos inputs
		$("input[name='emailGrupo']").each(function()
		{
			if(this.value + "@dextra-sw.com" == email && this.value)
				aux ++;
		});

		//Verifica se o email ja existe
		if($.inArray(email, dextranet.grupos.googleGrupos) != -1 || aux > 1){
			$("p#msg-erro").html("O grupo " + email + " já existe. Solicite a <a href='" + $.i18n.messages.url_redmine + dextranet.usuario.logado.unidade + $.i18n.messages.url_redmine_descricao +  email + "' target='_blank'>remoção</a> do grupo antes de criá-lo.")
			$("#btnSalvar").attr("disabled", true);
		}else{
			$("p#msg-erro").html("");
			$("#btnSalvar").attr("disabled", false);
		}
	});

	if($("input[name='emailGrupo']:last").val() != ""){
		$("input[name='emailGrupo']:last").removeClass("campoObrigatorio");
		$("input[name='emailGrupo']:last").attr("disabled", true);
		$("form.ggrupo").removeClass("ggrupo");
	}

	$( "input[name='emailGrupo']:last").keypress(function(e){
		var code = e.keyCode || e.which;
		if (code  == 13) {
			e.preventDefault();
		    return false;
		}
	});
</script>