/*----------  Reset  -----------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,
q,s,samp,small,strike,strong,sub,sup, tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input, table,caption,tbody,tfoot,thead,tr,th,td
{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
h1,h2,h3,h4,h5,h6,body{margin:0;}
ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
em,i{font-style:italic!important;}
b,strong{font-weight:bold!important;}
:focus{outline:0;}
::-moz-focus-inner{border:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea,select{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;}
button{background-color:transparent;border:0;}

/*----------  Preparação para layout elástico  ----------*/
body,html{height:100%;}
body{font-size:1em;position:relative;}
html{font-size:100%;}

/*----------  Ícones & Formas  ----------*/
[class^="icon_"]{display:inline-block;vertical-align:middle;width:16px;height:16px;background-image:url('../img/main-bundle.png');}

.icon_header_logo{width:135px;height:23px;}
.icon_sidebar_left_home{background-position:0 -28px;}
.icon_sidebar_left_novopost{background-position:-40px -32px;}
.icon_sidebar_left_categoria{background-position:-80px -28px;}
.icon_sidebar_left_perfil{background-position:-120px -28px;}
.icon_sidebar_left_equipe{background-position:-164px -28px;}
.icon_comments{background-position:-25px -117px;width:18px;height:18px;margin-right:6px;}
.icon_dx{background-position:-2px -119px;width:22px;height:14px;margin-right:6px;}

.shape_arrow_right{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #35679a;display:inline-block;margin-left:6px;-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);vertical-align:middle;}
.shape_arrow_down{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #35679a;display:inline-block;margin-left:6px;-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);vertical-align:middle;}

/*----------  Características  ----------*/
.clear{clear:both;}
.clearfix:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.hidden{display:none;}

.img_floatleft {display:block;float:left;margin-right:5px;}
.img_floatright {display:block;float:right;margin-left:5px;}

.float_left{float:left;}
.float_right{float:right;}

.margin_right{margin-right:15px;}
.margin_left{margin-left:15px;}
.margin_bottom{margin-bottom:15px;}
.margin_top{margin-top:15px;}

/*----------  Tipografia & Botões  ----------*/
body{font-family:'Open Sans', arial, sans-serif;background:url('../img/body-pattern.jpg') repeat;}

a{color:#4887c6;text-decoration:none;}
a:hover{color:#d66a00; cursor:pointer;}

p{padding-bottom:18px; line-height:18px;}

h1,
h2,
h3,
h4,
h5,
h6{color:#4e4846;margin-top:0;margin-bottom:20px;}

small{font-size:70%;}

/*----------  Formulários  ----------*/
input,
selected,
textarea{background-color:#fdfdfd;border-radius:5px;border:1px solid #d5d5d5;padding:5px 10px;box-shadow:0 0 3px #ddd,inset 0 4px 4px #fafafa,inset 0 0 0 1px #fff;color:#bbb;font-size:14px;}
input.submit{background-color:#ebeef1;color:#7d7e7e;text-shadow:0 1px 1px #fff;font-weight:bold;font-size:11px;}
input:focus,
selected:focus,
textarea:focus{color:#5c95d5;border-color:#9bc7f8;box-shadow:0 0 5px #75b6ff,inset 0 4px 4px #f7f7f7,inset 0 0 0 1px #fff;}

#form_search{position:relative;z-index:2;}
#form_search_input{padding-right:25px;width:250px;position:relative;z-index:3;font-size:13px;padding:4px 35px 4px 10px;}
#form_search_input_name{padding-right:25px;width:250px;position:relative;z-index:3;font-size:13px;padding:4px 35px 4px 10px;}
#form_search_submit_name{background-color:transparent;box-shadow:0 0 0 transparent;border:0;background:url('../img/main-bundle.png') -46px -115px;position:absolute;z-index:4;cursor:pointer;right:25px;top:4px;width:22px;height:22px;}
#form_search_submit{background-color:transparent;box-shadow:0 0 0 transparent;border:0;background:url('../img/main-bundle.png') -46px -115px;position:absolute;z-index:4;cursor:pointer;right:25px;top:4px;width:22px;height:22px;}
#form_search_input:focus + #form_search_submit{background-position:-65px -115px;}

/*----------  Header  ----------*/
#header_placeholder{height:39px;position:relative;z-index:1;margin-bottom:30px;}
#header_container{background-color:#e6ebf0;width:100%;position:fixed;top:0;left:0;width:100%;height:39px;z-index:2;box-shadow:inset 0 30px 30px -20px #f1f3f4, 0 4px 4px #d7e0e4;border:1px solid #f7fdff;z-index:15;}

#header_main_menu{float:left;margin-right:20px;}
#header_main_menu > li{float:left;height:40px;margin-top:-1px;position:relative;}
#header_main_menu > li .shape_arrow_down{display:none;}
#header_main_menu > li > a{display:block;padding:13px 25px 9px;font-weight:bold;font-size:13px;text-shadow:0 1px 1px #fff;color:#35679a;border-right:solid 1px #cfd5d9;border-left:solid 1px #f7f8fc;}
#header_main_menu > li > a:hover{background-color:#e9eef3;box-shadow:inset 0 0 2px 1px #f6ffff;color:#3d79b6;}
#header_main_menu > li.active > a,
#header_main_menu > li > a:active{background-color:#ecf1f5;box-shadow:inset 0 45px 45px -45px #c9d4df;color:#5f8dbc;}
#header_main_menu > li#header_main_menu_logo > a{padding:7px 15px 10px;}

#header_main_menu > li.active .shape_arrow_down{display:inline-block;}
#header_main_menu > li.active .shape_arrow_right{display:none;}
#header_main_menu > li > ul{position:absolute;left:-8px;top:40px;min-width:185px;white-space:nowrap;border:7px solid rgba(255, 255, 255, 0.65);border-top:1px solid #d5d9db;display:none;z-index:10;border-radius:0 0 5px 5px;}
#header_main_menu > li > ul > li{border:1px solid #cbdbe3;border-top:0;}
#header_main_menu > li > ul > li > a{display:block;font-size:13px;background-color:#fcffff;color:#35679a;padding:7px 10px;box-shadow:inset 0 -30px 30px -30px #d9e7f1;}
#header_main_menu > li > ul > li:last-child,
#header_main_menu > li > ul > li:last-child > a{border-radius:0 0 5px 5px;overflow:hidden;}
#header_main_menu > li > ul > li > a:hover{background-color:#FFF;color:#467db6;}
#header_main_menu > li > ul > li > a:active{background-color:#fcfcfc;color:#5387bd;box-shadow:inset 0 20px 20px -20px #f6f6f6}
#header_main_menu > li > ul > li:last-child,
#header_main_menu > li > ul > li:last-child > a{border-radius:0 0 6px 6px;}
#header_main_menu > li.active > ul{display:block;}

#header_search_box{float:right;height:32px;width:269px;margin-top:6px;}

/*----------  Informações do usuário  ----------*/
#box_user{position:relative;float:right;margin-right:10px;height:40px;border-left:solid 1px #cfd5d9;border-right:1px solid #cfd5d9;top:-1px;background-color:#f0f3f4;cursor:pointer;list-style-type:none;}
#box_user:hover{box-shadow:inset 0 0 2px 1px #fff;}
#box_user.active,
#box_user:active{background-color:#ecf1f5;box-shadow:inset 0 45px 45px -45px #c9d4df;}
#box_user > li{float:right;height:39px;position:relative;}
#box_user > li > a{display:block;padding:13px 25px 8px;font-weight:bold;font-size:13px;text-shadow:0 1px 1px #fff;color:#35679a;border-right:solid 1px #cfd5d9;border-left:solid 1px #f7f8fc;}

#box_user > li#box_user_info{padding:9px 15px 5px 20px;color:#566c7c;font-weight:bold;font-size:13px;float:left;}
#box_user > li#box_user_info .shape_arrow_down{display:none;}
#box_user > li#box_user_info > img{background-color:#f7f7f7;border:1px solid #b9cedd;padding:1px;width:20px;height:20px;vertical-align:middle;margin-right:15px;border-radius:2px;box-shadow:0 0 0 1px rgba(255, 255, 255, 0.5);}

#box_user > li#box_user_notifications{padding:7px 20px 6px 10px;float:left;margin-top:0;}
#box_user > li#box_user_notifications .highlight{vertical-align:middle;padding:4px 6px;background-color:#e76538;font-weight:bold;color:#fff;font-size:12px;text-shadow:0 1px 1px #8a5527;border-radius:5px;border:1px solid #b25e50;box-shadow:inset 0 10px 10px -10px #b7502c;}
#box_user > li#box_user_notifications .highlight:active{background-color:#FF9900}

#box_user > li > ul{position:absolute;right:-8px;top:40px;display:none;z-index:10;border-radius:0 0 5px 5px;border:7px solid rgba(255, 255, 255, .65);border-top:0;font-size:13px;}
#box_user > li > ul > li{background-color:#fcffff;padding:8px 12px;border:1px solid #d5d9db;border-bottom:0;box-shadow:inset 0 10px 10px -5px #f6ffff;color:#364d55;}
#box_user > li > ul > li:first-child{border-top:0;}
#box_user > li > ul > li:last-child{border-bottom:1px solid #d5d9db;border-radius:0 0 5px 5px;}
#box_user > li > ul > li#box_user_notifications_full_lead{padding:0;}
#box_user > li > ul > li#box_user_notifications_full_lead > a{text-shadow:0 1px 1px #fff;font-weight:bold;font-size:11px;color:#307bc1;background-color:#f1f9fd;text-align:right;display:block;padding:8px 12px;border-radius:0 0 5px 5px;}
#box_user > li > ul > li#box_user_notifications_full_lead > a:hover{background-color:#e4f2f9;color:#105aa0;box-shadow:inset 0 10px 10px -10px #eafbfc;}
#box_user > li > ul > li#box_user_notifications_full_lead > a:active{background-color:#f1f9fd;color:#1270c8;box-shadow:inset 0 25px 25px -25px #bfe1f2;}

#box_user > li > ul > li > a:hover{opacity:0.65;}
#box_user > li > ul > li:last-child,
#box_user > li > ul > li:last-child > a{border-radius:0 0 6px 6px;}
#box_user .header_dropdown{display:none;}

#box_user_profile{right:-49px!important;width:250px!important;}
#box_user_notifications_full{width:350px;}

#banner,#sidebar_left,#banner .close{background-color:#ebeef1;box-shadow:inset -15px 15px 15px -15px #fff;}

/*---------  Barra lateral esquerda  ----------*/
#sidebar_left{left:0;top:0;height:100%;list-style-type:none;border-right:solid 1px #d9dbdd;position:fixed;}
#sidebar_left_menu{padding:50px 8px 0;}
#sidebar_left_menu > li{border-bottom:solid 1px #dfe3e6;border-top:1px solid #fafafb;}
#sidebar_left_menu > li:first-child{border-top:0;}
#sidebar_left_menu > li:last-child{border-bottom:0;}
#sidebar_left_menu > li > a{text-transform:uppercase;color:#7d7e7e;text-shadow:0 1px 1px #fff;font-weight:bold;font-size:11px;display:block;width:55px;margin:0 auto;padding:15px 0;text-align:center;}
#sidebar_left_menu > li:hover > a,
#sidebar_left_menu > li.active > a{color:#4f5858;}
#sidebar_left_menu > li:hover .icon_sidebar_left_home,
#sidebar_left_menu > li.active .icon_sidebar_left_home{background-position:0 -69px;}
#sidebar_left_menu > li:hover .icon_sidebar_left_novopost,
#sidebar_left_menu > li.active .icon_sidebar_left_novopost{background-position:-40px -75px;}
#sidebar_left_menu > li:hover .icon_sidebar_left_categoria,
#sidebar_left_menu > li.active .icon_sidebar_left_categoria{background-position:-80px -70px;}
#sidebar_left_menu > li:hover .icon_sidebar_left_perfil,
#sidebar_left_menu > li.active .icon_sidebar_left_perfil{background-position:-120px -69px;}
#sidebar_left_menu > li:hover .icon_sidebar_left_equipe,
#sidebar_left_menu > li.active .icon_sidebar_left_equipe{background-position:-164px -69px;}
#sidebar_left_menu > li > a > span{display:block;width:38px;height:38px;margin:0 auto 10px;}

#sidebar_left_menu > li > ul > li > a:hover{opacity:0.65;}
#sidebar_left_menu > li > ul > li:last_child,
#sidebar_left_menu > li > ul > li:last_child > a{border-radius:0 0 6px 6px;}
#sidebar_left_menu > li > ul#box_new_post{position:absolute;left:91px;top:140px;width:500px;background-color:#fcfcfc;border:1px solid #ced1d3;padding:12px;box-shadow:0 0 5px #ced1d3,inset 0 20px 20px -20px #d8dadb;margin-bottom:20px;z-index: 20;}
#sidebar_left_menu > li > ul#box_new_post > li{position:relative;}
#sidebar_left_menu > li > ul#box_new_post > li input[type=text]{width:100%;}
#sidebar_left_menu .sidebar_show_right{display:none;}

/*----------  Estrutura dos blocos centrais de conteúdo  ----------*/
.block-white{background-color:#fdfdfd;padding:10px 15px;border-radius:5px;box-shadow:inset 0 0 0 1px #fff,0 0 0 1px #eaeaea,0 0 4px #e9e9e9;color:#999;text-shadow:0 1px 1px #fff;}

#container_main{margin-left:95px;clear:both;padding-right:10px;position:relative;}

#container_banner{bottom:0;left:0;width:100%;text-align:center;position:fixed;}


#content_left{margin-right:350px;}
#content_right{width:330px;position:absolute;top:0;right:10px;}

#banner{padding:5px 5px 0;position:relative;border:solid 1px #d9dbdd;display:inline-block;border-radius:5px 5px 0 0;}

#banner .close{border-radius: 10px 10px 0 0;left: 50%;padding: 7px 7px 0 7px;position: absolute;top: -27px; border:solid 1px #d9dbdd; border-bottom: none;}

/*----------  Listagem de estórias de usuários  ----------*/
.box_list_headline_comments_author{float:right; }
.list_stories > li{border-radius:5px;background-color:#fcfcfc;border:1px solid #ced1d3;padding:6px 6px 0;box-shadow:0 0 5px #ced1d3,inset 0 20px 20px -20px #d8dadb;margin-bottom:10px;}
.list_stories_lead > ul{list-style:disc; margin:15px;}
.list_stories_avatar{float:left;margin-right:10px;border:1px solid #ced1d3;padding:1px;background-color:#eee;width:45px;height:45px;border-radius:5px;}
.list_stories_headline{margin-bottom:6px;text-align:left;}
.list_stories_headline > h2{font-weight:bold;font-size:13px;text-transform:uppercase;color:#35679a;margin:2px 0 2px;cursor:pointer;text-align:center;}
.list_stories_headline_comments,
.list_stories_headline_dx,
.list_stories_headline_author{font-size:10px;font-weight:bold;margin-right:8px;float:left;}
.list_stories_headline_comments{color:#999;}
.list_stories_headline_dx{color:#349a94;}
.list_stories_headline_author{margin-right:0;color:#666;font-weight:normal;}
.list_stories_headline_author > a{font-weight:bold;}
.list_stories_headline_data{float:right;clear:both;text-shadow:0 1px 1px #fff;font-size:14px;color:#35679A;font-weight:bold;word-wrap:break-word;}
.list_stories_lead{clear:both;text-shadow:0 1px 1px #fff;font-size:11px;color:#505153;word-wrap:break-word;}
.list_stories_lead > blockquote{font-style: italic;	font-family: Georgia, Times, "Times New Roman", serif;	padding: 2px 0;	border-style: solid;	border-color: #ccc;	border-width: 0; background: transparent url(../img/quote.gif) no-repeat; margin: 1em 20px; padding-left: 50px;}
.list_stories_footer{background-color:#d5d9db;margin:0 -6px -6px;height:25px;border-radius:0 0 5px 5px;}
.list_stories_footer  a{color:#4e739c;text-shadow:0 1px 1px #fff;font-size:12px; padding:0}
.list_stories_footer_tags{float:left; margin-left:5px;}
.list_stories_footer_call{color:#4887C6;font-size:12px}
.list_stories_footer_call{float:right;text-align:right; margin-right:5px}


.list_stories_comment > li{border-radius:5px;background-color:#fcfcfc;border:1px solid #ced1d3;padding:12px;box-shadow:0 0 5px #ced1d3,inset 0 20px 20px -20px #d8dadb;margin-bottom:20px;}
.list_stories_comment_lead > ul{list-style:disc; margin:15px;}
.list_stories_comment_avatar{float:left;margin-right:10px;border:1px solid #ced1d3;padding:1px;background-color:#eee;width:45px;height:45px;border-radius:5px;}
.list_stories_comment_headline{margin-bottom:2px;}
.list_stories_comment_headline > h2{font-weight:bold;font-size:13px;text-transform:uppercase;color:#35679a;margin:2px 0 2px;}
.list_stories_comment_headline_comments,
.list_stories_comment_headline_dx,
.list_stories_comment_headline_author{font-size:10px;font-weight:bold;margin-right:8px;float:left;}
.list_stories_comment_headline_comments{color:#999;}
.list_stories_comment_headline_dx{color:#349a94;}
.list_stories_comment_headline_author{margin-right:0;color:#666;font-weight:normal;}
.list_stories_comment_headline_author > a{font-weight:bold;}
.list_stories_comment_headline_data{float:left;clear:both;text-shadow:0 1px 1px #fff;font-size:14px;color:#35679A;font-weight:bold;word-wrap:break-word;}
.list_stories_comment_lead{clear:both;text-shadow:0 1px 1px #fff;font-size:11px;color:#505153;word-wrap:break-word;}
.list_stories_comment_lead > blockquote{font-style: italic;	font-family: Georgia, Times, "Times New Roman", serif;	padding: 2px 0;	border-style: solid;	border-color: #ccc;	border-width: 0; background: transparent url(../img/quote.gif) no-repeat; margin: 1em 20px; padding-left: 50px;}

#post_blockquote {font-style: italic; font-family: Georgia, "Times New Roman", serif; margin: 1em 20px; padding-left: 50px;  background: transparent url(../img/quote.gif) no-repeat;}

.wordwrap{white-space: pre; /* CSS2 */white-space: -moz-pre-wrap; /* Mozilla */white-space: -hp-pre-wrap; /* HP printers */white-space: -o-pre-wrap; /* Opera 7 */white-space: -pre-wrap; /* Opera 4-6 */white-space: pre-wrap; /* CSS 2.1 */white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */word-wrap: break-word; /* IE */_white-space: pre; /* IE hack to re-specify in addition to word-wrap */}

.message { margin:10px 0; }
.message li { color:#000; padding:3px 5px; font-size:11px; background:#FFF; border:1px solid #EEE; margin:3px 10px; list-style:none; margin:2px 15px; padding:3px 5px 3px 25px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; background-position:5px center; background-repeat: no-repeat; }
.message li a,
.message li .time { float:right; padding:0 5px; }
.message .error a,
.message .error { color:#D8000C; }
.message .error { border:1px solid #D8000C; background-color:#FFBABA; }
.message .success a,
.message .success { color:#4F8A10; }
.message .success { border:1px solid #4F8A10; background-color:#DFF2BF; }
.message .info a,
.message .info { color:#0092CB; }
.message .info { border:1px solid #0092CB; background-color:#BDE5F8; }
.message .warning a,
.message .warning { color:#9F6000; }
.message .warning { border:1px solid #9F6000; background-color:#FEEFB3; background-image:url('../img/warning.png'); }
.message .success { background-image:url('../img/success.png'); }

/*----------  Listagem de estórias de equipe  ----------*/
/* Menu abcd */
.list-menu-abcd { margin-bottom:20px;}
.list-menu-abcd li { display:inline; padding-left:4px; padding-right:4px;}
.list-menu-abcd li  a{ font-size: 1.1em;}

.team-list-stories > li{border-radius:5px;background-color:#fcfcfc;border:1px solid #ced1d3;padding:12px;box-shadow:0 0 5px #ced1d3,inset 0 20px 20px -20px #d8dadb;margin-bottom:20px; width:30%; margin-right:20px; float:left}
.team-list-stories .list-stories-avatar{width:115px;height:115px;}
.team-list-stories-dados li { font-size:.8em; line-height:1.9em;color:#4e739c}
.team-list-stories .list-stories-footer{height:16px;}

/* Pagination */
/* .list-pagination {text-align:center} */
.list-pagination li { display:inline-block; padding-left:4px; padding-right:4px; border:solid 1px #cfd5d9;width:1.5em; height:1.5em; text-align:center;background-color:#d5d9db }
.list-pagination li a{ display:block;font-size: .9em;  margin-top:4px; font-weight:bold;text-shadow:0 1px 1px #fff;}
.list-pagination li:hover{background-color:#e9eef3;}
.list-pagination li:active{background-color:#ecf1f5;box-shadow:inset 0 45px 45px -45px #c9d4df;}

/*----------  Listagem de estórias de usuários  ----------*/
.list-stories > li{border-radius:5px;background-color:#fcfcfc;border:1px solid #ced1d3;padding:12px;box-shadow:0 0 5px #ced1d3,inset 0 20px 20px -20px #d8dadb;margin-bottom:20px;}
.list-stories-avatar{float:left;margin-right:10px;border:1px solid #ced1d3;padding:1px;background-color:#eee;width:50px;height:50px;border-radius:5px;}
.list-stories-headline{margin-bottom:20px;}
.list-stories-headline > h2{font-weight:bold;font-size:18px;text-transform:uppercase;color:#35679a;margin:4px 0 5px;}
.list-stories-headline-comments,
.list-stories-headline-dx,
.list-stories-headline-author{font-size:13px;font-weight:bold;margin-right:15px;float:left;}
.list-stories-headline-comments{color:#999;}
.list-stories-headline-dx{color:#349a94;}
.list-stories-headline-author{margin-right:0;color:#666;font-weight:normal;}
.list-stories-headline-author > a{font-weight:bold;}
.list-stories-lead{clear:both;text-shadow:0 1px 1px #fff;font-size:14px;color:#505153;}
.list-stories-footer{background-color:#d5d9db;margin:0 -12px -12px;padding:12px 12px 0;height:31px;}
.list-stories-footer > a{color:#4e739c;text-shadow:0 1px 1px #fff;font-size:15px;}
.list-stories-footer-tags{float:left;}
.list-stories-footer-call{float:right;text-align:right;}


.content-right .tipsy, .content-right .tipsy-arrow {top: +20px;}

/* criar banner */
#new_banner{color:#555;}
#new_banner li{margin-bottom:7px;}

#new_banner li label {display:inline-block;margin-right:5px;width:50px;}

.listagem-banner .img-container {display:inline-block;height:100%;}
.listagem-banner .dados-banner {display:inline-block;vertical-align:top;}
.listagem-banner > li {height:300px;margin-top:30px;vertical-align:top;margin-bottom:100px;}
.listagem-banner .dados-banner li {margin-bottom: 15px;}
.listagem-banner .dados-banner li label{display: inline-block; width: 150px;}
.listagem-banner .dados-banner li.img-container {text-align: center;}

.buttons{margin-bottom:20px;}
.orderingButtons { margin-bottom: 20px; }