#novo_micropost textarea{
	border:1px solid #dadada;
	background-color:#fbfbfb;
	box-shadow:inset 0 0 0 1px #fff,0 0 0 5px #f2f2f2,inset 0 -10px 20px #fcfcfc,inset 0 2px 2px #e5e5e5;
	margin:5px 0 10px;
	font:bold 13px 'Open Sans', arial, sans-serif;}
#novo_micropost textarea:focus{
	border-color:#89b9cf;
	background-color:#f3fbff;
	color:#647f8b;
	box-shadow:inset 0 0 0 1px #fff,0 0 0 5px #e1edf3,inset 0 -10px 20px #fcfcfc,inset 0 2px 2px #c2e2f1;}
#novo_micropost #form_micropost_submit{font-size:13px;}
#novo_micropost #caracteres_restantes{display:block;float:left;background-color:#f2f2f2;padding:12px 10px 5px;margin:-13px 0 0 -5px;border-radius:0 0 5px 5px;transition:all 100ms ease-in-out;margin-bottom:15px;}
#novo_micropost textarea:focus + #caracteres_restantes{background-color:#e1edf3;color:#5c8a9f;}


#container-microblog {
	position: relative;
	right: 0;
	width: 300px;
	height: auto;
	top: 0;
}

ul#list_microposts {
	margin-top: 5px;
	height: auto;
	width: 312px;
	list-style:none;
}
#list_microposts .btn-excluirpost{padding:1px 5px 3px;float:right;margin-left:8px;}
#list_microposts .btn-excluirpost:active,
#list_microposts .btn-excluirpost:hover{color:#b44;border-color:#faa;}

.micropost {
	background-color: #fefefe;
	border: 1px solid #a3c3e2;
	border-top:0;
 	padding: 8px 12px 0;
	position: relative;
	width:274px;
}
.micropost:first-child{border-radius:5px 5px 0 0;border-top: 1px solid #a3c3e2;}
.micropost:last-child{border-top:0;border-radius:0 0 5px 5px;}

div.avatar-frame {
	width: 20px;
	height: 20px;
	padding: 0;
	border-color: #668;
	float:left;
	margin-right:10px;
	border-radius:4px;
}

div.avatar-frame img {
	width: 20px;
	height: 20px;
	border-radius: 3px;
}

.micropost-texto {
	padding: 0 5px;
	line-height:16px;
	font-size: 12px;
	color:#555;
}
.micropost-texto a {color:#3d88d3;}
.micropost-texto a:hover{color:#333;}

.micropost-data {
	display: block;
	clear: both;
	background-color: #FCFCFC;
	box-shadow: inset 0 3px 3px #FAFAFA;
	height: 20px;
	padding:2px 12px;
	margin:0 -12px;
}
.micropost:last-child .micropost-data{border-radius:0 0 5px 5px;}

.micropost-data span {
	font-size: 10px;
	font-style: italic;
	float: right;
	margin: 3px;
}