* {  
    margin: 0;  
    padding: 0;  
}

header {
	background-color: #e6ebf0;
	box-shadow: inset 0 30px 30px -20px #f1f3f4, 0 4px 4px #d7e0e4;
	border: 1px solid #f7fdff;
    width:100%;
	position:fixed;
	top:0px;
}

header a {
	display: block;
	padding: 7px 15px 10px;
    margin-left: auto;
    margin-right: auto;
	width: 104px;
	position: relative;
}

.icon_header_logo {
	width: 104px;
	height: 23px;
}

[class^="icon_"] {
	display: inline-block;
	vertical-align: middle;
	background-image: url('../img/main-bundle.png');
}

body{
    margin:0px;
}