#frmPerfil{color:#555;float:left;width:400px;}
#frmPerfil li{margin-bottom:7px;}
#frmPerfil li label {display:inline-block;margin-right:5px;width:50px;}

.avatar-frame{background-color:#edf2fa;width:100px;height:100px;padding:1px;margin:-1px -1px 20px;border:1px solid #a9bad8;border-radius:5px;position:relative;text-align:center;box-shadow:0 2px 2px rgba(0,0,0,.1);}
.avatar-frame-float{float:left;margin-right:30px;}
.avatar-frame > img{border-radius:5px;}

#frmPerfil > dl{display:inline-block;padding-top:2px;}
#frmPerfil > dl > dt,
#frmPerfil > dl > dd{margin-bottom:15px;}
#frmPerfil > dl > dt{width:105px;font-size:15px;}
#frmPerfil > dl > dd{width:235px;margin-top:-5px;}

#box_user{position:relative;height:40px;border-left:solid 1px #cfd5d9;border-right:1px solid #cfd5d9;margin-top:-1px;background-color:#f0f3f4;list-style-type:none;display:inline-block;vertical-align:top;}
#box_user:hover{box-shadow:inset 0 0 2px 1px #fff;}
#box_user.active,
#box_user:active{background-color:#ecf1f5;box-shadow:inset 0 45px 45px -45px #c9d4df;}
#box_user > li{float:right;height:39px;position:relative;}
#box_user > li > a{display:block;padding:13px 25px 8px;font-weight:bold;font-size:13px;text-shadow:0 1px 1px #fff;color:#35679a;border-right:solid 1px #cfd5d9;border-left:solid 1px #f7f8fc;}

#box_user > li#box_user_info{padding:9px 15px 5px 15px;color:#566c7c;font-weight:bold;font-size:13px;float:left;}
#box_user > li#box_user_info .shape_arrow_down{display:none;}
#box_user > li#box_user_info > img{background-color:#f7f7f7;border:1px solid #b9cedd;padding:1px;width:20px;height:20px;vertical-align:middle;margin-right:5px;border-radius:2px;box-shadow:0 0 0 1px rgba(255, 255, 255, 0.5);}
#box_user > li#box_user_info > #user_login{font-size:12px;}

#box_user_actions { vertical-align: top; display:inline-block;}
#box_user_actions:hover{ background-color:#e9eef3; box-shadow:inset 0 0 2px 1px #f6ffff; }
#box_user_actions .logout{ padding: 8px  10px 0 10px; }