<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

    <!-- Configuracao do RESTEASY -->
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/s</param-value>
    </context-param>

    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>br.com.dextra.dextranet.rest.config.Application</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/s/*</url-pattern>
    </servlet-mapping>

	<!--  filter>
        <filter-name>autenticacaoFilter</filter-name>
        <filter-class>br.com.dextra.dextranet.seguranca.AutenticacaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>autenticacaoFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping-->


</web-app>
